{% extends "base.html" %} 

{% block content %}

<main class="p-4">
    <h2 class="text-2xl"></h2>
    <p class="mb-4">Welcome to my mindLAMP Database.</p>

    <p class="mb-4">The LAMP Platform is a solution for neuropsychiatric research and clinical care management. It was specifically created to streamline the administration of research studies and digitally-enabled clinics. It uses numerous components to automate workflows, offering a simplified approach to clinical and data management.</p>

    <p class="mb-4">The patients or users use the mindLAMP app, which can be downloaded on a mobile device on the AppStore, whether it be an iOS or Android device. They will take part in taking surveys, playing cognitive games, or doing other activities to collect active data. The app also collects passive data through Sensor events. This includes the mobile device's accelerometer, GPS, pedometer, and other background capabilities.</p>

    <p class="mb-4">Clinicians and Researchers can use a dashboard to create, customize, and schedule activities for the patients to interact with. The dashboard has a fully functioning Data Portal for a better view and extraction function for the data.</p>

    <p class="mb-4">The data collected was performed by students pretending to be users. It is essentially "dummy" data to be used for test purposes.</p>

    <p class="mb-4">To proceed, please click on the Data Tab</p>
</main>

<body>
    <h1> Dashboard</h1>
    <h3> Welcome {{ user.name }} </h3>
    <h2> User Details</h2>
    <div>
        <p> Name: {{ user.name }} </p>
        <p> Email: {{ user.email }} </p>
        <p> Profile Picture: <img src="{{ user.picture }}" alt="Profile Picture" style="width:50px;height:50px;"> </p>
    </div>
    <div>
        <a href="/logout" class="logout-btn" style="text-decoration:none;">
            <div class="btn-text">
                Logout
            </div>
        </a>
    </div>
</body>

{% endblock %}