{% extends "base.html" %} 

{% block content %}

    <table class="border-collapse border border-gray-400">
        <thead>
            <tr>
                <th class="border border-gray-400 p-2">ID</th> 
                <th class="border border-gray-400 p-2">User Name</th>
                <th class="border border-gray-400 p-2">Activity Name</th>
                <th class="border border-gray-400 p-2">Activity Date</th>
                <th class="border border-gray-400 p-2">Item</th>
                <th class="border border-gray-400 p-2">Value</th>
                <th class="border border-gray-400 p-2">Type</th>
            </tr>
        </thead>
        <tbody>
            
            {% for record in lampdata %}
                <tr>
                    <td class="border border-gray-400 p-2">{{ record.my_row_id }}</td> 
                    <td class="border border-gray-400 p-2">{{ record.userNAME }}</td>
                    <td class="border border-gray-400 p-2">{{ record.ActivityName }}</td>
                    <td class="border border-gray-400 p-2">{{ record.ActivityDate }}</td>
                    <td class="border border-gray-400 p-2">{{ record.item }}</td>
                    <td class="border border-gray-400 p-2">{{ record.value }}</td>
                    <td class="border border-gray-400 p-2">{{ record.type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   

{% endblock %}